{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="jumbotron-fluid info-jumbo justify-content-center d-flex align-items-center mb-5">
    <h1 class="page-title">About - Grapple</h1>
</div>
<div class="container">
    <!-- Counter Section -->
    <div class="row mt-5 mb-3 p-5">
        <!-- Products -->
        <div class="col-md-4 mb-5">
            <div class="row">
                <div class="col-6 p-0">
                    <div class="display-4 text-right counter info-icon" data-target="{{ total_products }}">0</div>
                </div>
                <div class="col-6">
                    <p class="text-uppercase mb-1">Products</p>
                    <p class="mb-0"><i class="info-icon fas fa-shopping-cart fa-2x mb-0"></i></p>
                </div>
            </div>
        </div>
        <!-- Orders -->
        <div class="col-md-4 mb-5">
            <div class="row">
                <div class="col-6 p-0">
                    <h4 class="display-4 text-right counter info-icon" data-target="{{  total_orders }}">0</h4>
                </div>
                <div class="col-6">
                    <p class="text-uppercase mb-1">Orders</p>
                    <p class="mb-0"><i class="info-icon fas fa-user fa-2x mb-0"></i></p>
                </div>
            </div>
        </div>
        <!-- Satisfaction -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-6 p-0">
                    <h4 class="display-4 text-right info-icon"><span class="counter"
                            data-target="{{ review_percentage }}">0</span>%</h4>
                </div>
                <div class="col-6">
                    <p class="text-uppercase mb-1">Satisfaction</p>
                    <p class="mb-0"><i class="info-icon fas fa-smile fa-2x mb-0"></i></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Counter Section -->
    <div class="row mb-5">
        <!-- About Image -->
        <div class="col-xs-12 col-md-6 mb-4">
            <div class="about-image jumbo-background"></div>
        </div>
        <!-- About Content -->
        <div class="col-xs-12 col-md-6 post-content">
            <p>Here at Grapple we focus on selling BJJ products of the highest quality.</p>
            <p>Brazilian Jiu-Jitsu (BJJ) is a grappling-based martial art whose central theme is the skill of
                controlling a resisting opponent in ways that force him to submit. Due to the fact that control is
                generally easier on the ground, much of the technique of BJJ is centered round the skill of taking an
                opponent down to the ground and wrestling for dominant
                control positions from where the opponent can be rendered harmless.</p>
            <p>
                To control and overcome greater size, strength and aggression with lesser size and strength is the
                keynote of the sport. This is done by utilizing superior leverage, grip and position upon your opponent.
                Students of the sport gain a deep understanding of the workings and limits of the human body.</p>
        </div>
    </div>
</div>
{% endblock %}