@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------- Text + Links + buttons*/
.font-color {
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

.font-color:hover {
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

.product-section:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.link {
    font-size: 100%;
    transition-property: font-size;
    transition-duration: .1s;
    transition-timing-function: linear;
}

.link:hover {
    font-size: 120%;
}

.page-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2rem;
}

.cart-contents-font {
    font-size: 60%;
}

.adjust-quantity-button {
    color: #fff;
    border-radius: 25%;
    background-color: #28a745;
    padding: 3px;
}

.adjust-quantity-button:hover {
    font-size: 115%;
}

.delete-item-button {
    color: red;
}

.delete-item-button:hover {
    font-size: 120%;
}

.back-link:hover {
    text-decoration: none;
}

/*--------------------------------------------------- forms*/
.login-form, .sign-up-form {
    border-radius: 1%;
    background-color: #e9ecef;
}

/*--------------------------------------------------- Nav*/
#logo {
    width: 20%;
}

/*--------------------------------------------------- Jumbotrons*/
.jumbotron {
    min-height: 65vh;
}

.jumbo-background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbo-login {
    margin-bottom: 0;
    background-image: url("../jumbo-images/form-jumbo-3.jpg");
}

.products-jumbo {
    background-image: url("../jumbo-images/products-jumbo.jpg");
}

.home-jumbo {
    background-image: url("../jumbo-images/home-jumbo-img.jpg");
}

/*--------------------------------------------------- Featured Categories*/
.category-section {
    position: relative;
    height: 200px;
}

.category-title {
    font-size: 120%;
}

.category-title, .product-info {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.cat-image {
    width: 60%;
    margin-left: 20%;
    height: 90%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*--------------------------------------------------- Information Section*/
.info-icon {
    color: #778899;
}

/*--------------------------------------------------- Product Listings*/
.product-section {
    position: relative;
    height: 270px;
}

.product-image {
    width: 60%;
    margin-left: 20%;
    height: 70%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.no-products-text i:hover {
    text-decoration: underline;
}

/*--------------------------------------------------- Product Detail*/
.product-detail-image {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.add-to-cart-section {
    border-left: 1px solid rgba(0, 0, 0, 0.2);;
}

.description-list {
    list-style-type: circle;
}

/*--------------------------------------------------- Cart + Checkout*/
.order-container {
    border: 1px solid black;
}

/*--------------------------------------------------- News*/
.news-card-body {
    padding: 0!important;
}

.news-home-image {
    width: 100%;
    height: 12rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.news-preview-text {
    font-size: 80%;
    letter-spacing: 1px;
}

.post-image {
    width: 100%;
    height: 22rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.news-icon {
    color: #2F7AE5;
}

.post-content {
    word-wrap: break-word;
    line-height: 2rem;
    letter-spacing: 1px;
    text-align: justify;
}
/*--------------------------------------------------- Media Queries*/
@media (min-width: 768px) {
    #logo {
        width: 10%;
    }

    .cart-contents-font {
        font-size: 100%;
    }
}
@media (min-width: 1024px) {
    #logo {
        width: 6%;
    }

    .category-section {
        height: 250px;
    }

    .product-section {
        height: 300px;
    }

    .post-image {
        width: 70%;
        height: 25rem;
    }
}