@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------- Nav*/
#logo {
    width: 20%;
}

/*--------------------------------------------------- Jumbotrons*/
.jumbotron {
    min-height: 65vh;
}

#jumbo-login {
    margin-bottom: 0;
    background-image: url("../images/form-jumbo-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-jumbo {
    background-image: url("../images/home-jumbo-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------------------------------------- forms*/
.login-form, .sign-up-form {
    border-radius: 1%;
    background-color: #e9ecef;
}

/*--------------------------------------------------- Media Queries*/
@media (min-width: 768px) {
    #logo {
        width: 10%;
    }
}
@media (min-width: 1024px) {
    #logo {
        width: 6%;
    }
}