@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------- Nav*/
#logo {
    width: 20%;
}

/*--------------------------------------------------- Jumbotrons*/
.jumbotron {
    min-height: 65vh;
}

.jumbo-background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbo-login {
    margin-bottom: 0;
    background-image: url("../jumbo-images/form-jumbo-3.jpg");
    
}

.home-jumbo {
    background-image: url("../jumbo-images/home-jumbo-img.jpg");
}

/*--------------------------------------------------- Featured Categories*/
.category-section {
    position: relative;
    height: 200px;
}

.category-title {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.cat-image {
    width: 50%;
    margin-left: 25%;
    height: 90%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*--------------------------------------------------- forms*/
.login-form, .sign-up-form {
    border-radius: 1%;
    background-color: #e9ecef;
}

/*--------------------------------------------------- Media Queries*/
@media (min-width: 768px) {
    #logo {
        width: 10%;
    }
}
@media (min-width: 1024px) {
    #logo {
        width: 6%;
    }
}