{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block title %}Payment{% endblock %}

{% block content %}
<div class="container">
    <div class="my-5">
        <h1 class="page-title">Payment</h1>
        <a href="{% url 'checkout:review' %}" class="back-link">
            <p><i class="fas fa-arrow-circle-left mr-2"></i><i>Back to Review</i></p>
        </a>
    </div>

    <!-- Overview Section -->
    <div class="row">
        <div class="col-12 mb-3">
            {% include 'overview_section.html' %}
        </div>
    </div>

    <!-- Forms -->
    <div class="row d-inline">
        <form role="form" method="post" id="payment-form" action="{% url 'checkout:payment' %}">
            <div id="credit-card-errors" style="display:block">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>

            <!-- Billing Address Form -->
            <div class="col-12 col-md-6 mt-4 d-inline pay-form">
                <div class="card">
                    <div class="card-header font-weight-bold">Address Details</div>
                    <div class="card-body">
                        {{ billing_address_form|as_bootstrap }}
                    </div>
                </div>
            </div>

            <!-- Payment Form -->
            <div class="col-12 col-md-6 d-inline">
                <div class="card">
                    <div class="card-header font-weight-bold">Card Details</div>
                    <div class="card-body">
                        {{ payment_form|as_bootstrap }}
                    </div>
                </div>
            </div>

            {% csrf_token %}
            <div class="form-group col-12 text-center">
                <input class="btn btn-success" id="submit_payment_btn" name="commit" type="submit" value="Pay Now">
            </div>
        </form>
    </div>
    <!-- Forms -->
</div>
{% endblock %}