{% extends 'base.html' %}

{% block title %}Checkout - Review{% endblock %}

{% block content %}
<div class="container">
    <div class="my-5">
        <h1 class="page-title">Checkout - Review</h1>
        <a href="{% url 'view_cart' %}" class="back-link">
            <p><i class="fas fa-arrow-circle-left mr-2"></i><i>Back to Cart</i></p>
        </a>
    </div>

    <div class="row">
        <div class="col-12 mb-5">
            {% include 'overview_section.html' %}
            <div class="text-center mt-4">
                <a href="{% url 'checkout:payment' %}"><button class="btn btn-success" type="submit">Proceed to Payment
                        <i class="fas fa-arrow-circle-right"></i></button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}