{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Grapple - Sign Up{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid vh-100 jumbo-background" id="jumbo-login">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-6 p-3 sign-up-form">
                        <h1>Sign Up</h1>
                        <p class="text-center">Already have an account? Login <a href="{% url 'login' %}">here</a></p>
                        <form method="POST">
                            {% csrf_token %}
                            {{ registration_form | as_bootstrap }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}