{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
    <h1 class="my-5 page-title">Your Items</h1>
    <div class="cart-content text-center">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="d-none d-sm-table-cell">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    <th scope="row">1</th>
                    <td scope="row" class="w-25 align-middle d-none d-sm-table-cell">
                        <div class=" mx-auto">
                            <img class="img-fluid" src="{{ cart_item.product.image.url }}"
                                alt="Stock image for {{ cart_item.product.name }}">
                        </div>
                    </td>
                    <td class="align-middle">{{ cart_item.product.name }}<br>--<br>{{ cart_item.size }}</td>
                    <td class="align-middle">{{ cart_item.quantity }}</td>
                    <td class="align-middle">£{{ cart_item.product.price }}</td>
                    <td class="align-middle">X</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="text-left align-middle">
                        <h2 class="page-title">Total:</h2>
                    </td>
                    <td class="d-none d-sm-table-cell"></td>
                    <td class="align-middle">£{{ total }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-3 offset-md-9 text-right">
                <a class="btn btn-warning btn-block" href="{% url 'products:list_of_products' %}">Continue Shopping</a>
                <a class="btn btn-success btn-block" href="/">Proceed to Checkout</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}