{% extends 'base.html' %}

{% block title %}{{ post.title|title }}{% endblock %}

{% block content %}
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-12 my-5 d-inline">
            <a href="{% url 'index' %}" class="back-link d-inline"><i
                    class="fas fa-arrow-circle-left mr-2"></i><i>Home</i></a> / <a href="{% url 'news:news_home' %}"
                class="back-link d-inline"><i>News</i></a>
        </div>
    </div>

    <!-- Post Heading -->
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="page-title">{{post.title}}</h1>
            <p class="news-preview-text text-capitalize"><i>{{ post.author }} - {{post.created.date}}</i></p>
        </div>
    </div>

    <!-- Post Image -->
    <div class="row mt-3">
        <div class="col-12">
            <div class="post-image jumbo-background mx-auto shadow" style="background-image: url('{{ MEDIA_URL }}{{ post.image }}')"></div>
        </div>
    </div>

    <!-- Post Content + Latest Articles -->
    <div class="row mt-4">
        <!-- Content -->
        <div class="col-xs-12 col-sm-8">
            <p class="post-content px-4">{{ post.content}}</p>
        </div>
        <!-- Articles -->
        <div class="col-xs-12 col-sm-4 mx-auto mb-4">
            <div class="card shadow-sm">
                <div class="card-header">Latest Articles
                </div>
                <div class="card-body">
                    {% for other_post in other_posts %}
                    <div class="my-1">
                        <a class="font-color link" href="{% url 'news:news_article' other_post.slug %}">
                            <p><i class="news-icon fas fa-plus mr-1"></i> {{ other_post.title|title }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /Post Content + Latest Articles -->
</div>
{% endblock %}